body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.div-block {
  padding: 10px;
  border-bottom: 1px solid #000;
  background-color: #ccc;
  text-align: center;
}

.paragraph {
  margin-bottom: 0px;
}

.paragraph-2 {
  margin-bottom: 0px;
}